alembic==1.16.1
fastapi==0.115.6
httpx==0.28.1
passlib[bcrypt]==1.7.4
psycopg[binary]==3.2.9
pydantic==2.11.5
pydantic-settings==2.10.1
python-jose==3.4.0
python-multipart==0.0.20
sqlalchemy==2.0.41
uvicorn[standard]==0.34.2

# dev/test
pytest==8.4.0
openpyxl==3.1.5
stripe==12.4.0
